.sliderWrapper {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background: #ffffff;
}

.slider {
  width: 100%;
  max-width: 1500px;   /* 🔑 ancho máximo del carrusel */
  margin: 0 auto;      /* 🔑 centrado */
  padding-bottom: 40px;
  overflow: hidden;
  
}

.title {
  font-size: clamp(1.2rem, 2vw, 2.2rem);
  font-weight: 200;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
}

.subtitle {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #666;
  margin-bottom: 30px;
}

.card {
  position: relative;
  overflow: hidden;
  height: 350px;
  max-width: 320px;
  margin:  auto;  /* 🔑 centra cada tarjeta */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  
}

.image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.overlay {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.685);
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
 text-transform: uppercase;
}

/* Flechas Swiper */
.slider :global(.swiper-button-next),
.slider :global(.swiper-button-prev) {
   color: #000 !important;   /* Flechas negras */
  width: 40px;
  height: 40px;
  top: 50%;                 /* Centrado vertical */
  transform: translateY(-50%);
}

.slider :global(.swiper-button-next)::after,
.slider :global(.swiper-button-prev)::after {
  font-size:100px;
  
}
.slider :global(.swiper-button-next)::after {
  font-size: 2.5rem;
  font-weight: 300;
}
.slider :global(.swiper-button-prev) {
  left: -10px;   /* mueve la flecha izquierda hacia afuera */
}

.slider :global(.swiper-button-next) {
  right: -10px;  /* mueve la flecha derecha hacia afuera */
}


.slider :global(.swiper-button-prev)::after {
  font-size: 2.5rem;
  font-weight: 100;
}


