.cardSlider {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto; /* Para hacer slider horizontal */
  padding: 1rem;
  scroll-snap-type: x mandatory;
}

.card {
  flex: 0 0 auto;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 550px;
  height: 250px;
  scroll-snap-align: start;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.cardImage {
  width: 50px;
  height: 10px;
  
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.cardDescription {
  font-size: 0.9rem;
  color: #555;
  padding: 0 0.5rem 1rem;
}
