.quienesSomos {
  background-image: url('../../assets/QuienesSomos.png');
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 👈 ahora el contenido se va a la izquierda */
  height: 90vh; 
  box-sizing: border-box;
  padding-left: 70px; /* 👈 opcional: margen desde el borde izquierdo */
}

.texto {
  flex: 1;
  max-width: 500px;
  font-family: 'Poppins', sans-serif;
  color: #333;
  text-align: left;  /* 👈 asegura que todo el texto esté alineado a la izquierda */
}
.texto h1 {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  margin: 0;
}
.texto h3{
    font-size: 1rem;
    font-weight: 200;
    color: #555;
    margin-top: 7px;
    margin-bottom: 40px;
    
}


.texto p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 20px;
  color: #666;
}